<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Listing for Poi</h1>

<f:flashMessages />

<table  class="tx_z3map" >
	<tr>
		<th><f:translate key="tx_z3map_domain_model_poi.name" /></th>
		<th><f:translate key="tx_z3map_domain_model_poi.address" /></th>
		<th><f:translate key="tx_z3map_domain_model_poi.postalcode" /></th>
		<th><f:translate key="tx_z3map_domain_model_poi.city" /></th>
		<th><f:translate key="tx_z3map_domain_model_poi.country" /></th>
		<th><f:translate key="tx_z3map_domain_model_poi.lat" /></th>
		<th><f:translate key="tx_z3map_domain_model_poi.lng" /></th>
		<th><f:translate key="tx_z3map_domain_model_poi.description" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{pois}" as="poi">
		<tr>
			<td><f:link.action action="show" arguments="{poi : poi}"> {poi.name}</f:link.action></td>
			<td><f:link.action action="show" arguments="{poi : poi}"> {poi.address}</f:link.action></td>
			<td><f:link.action action="show" arguments="{poi : poi}"> {poi.postalcode}</f:link.action></td>
			<td><f:link.action action="show" arguments="{poi : poi}"> {poi.city}</f:link.action></td>
			<td><f:link.action action="show" arguments="{poi : poi}"> {poi.country}</f:link.action></td>
			<td><f:link.action action="show" arguments="{poi : poi}"> {poi.lat}</f:link.action></td>
			<td><f:link.action action="show" arguments="{poi : poi}"> {poi.lng}</f:link.action></td>
			<td><f:link.action action="show" arguments="{poi : poi}"> {poi.description}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{poi : poi}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{poi : poi}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New Poi</f:link.action>
</f:section>